<f:layout name="default" />
<f:section name="Main">
  <f:asset.css identifier="MarketOverview" href="EXT:btc/Resources/Public/Css/MarketOverview.css" />
  <f:asset.script identifier="MarketOverview" src="EXT:btc/Resources/Public/JavaScript/MarketOverview.js" />
  <div class="btc-marketoverview">
    <table class="btc-marketoverview__table">
      <thead>
        <tr>
          <th><f:translate key="LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.rank" /></th>
          <th><f:translate key="LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.coin" /></th>
          <th><f:translate key="LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.price" /></th>
          <th><f:translate key="LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.change24h" /></th>
          <th><f:translate key="LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.marketCap" /></th>
          <th><f:translate key="LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.volume24h" /></th>
        </tr>
      </thead>
      <tbody>
        <f:for each="{coins}" as="coin">
          <tr class="btc-marketoverview__row">
            <td data-sort="{coin.marketCapRank}" data-label="{f:translate(key: 'LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.rank')}">{coin.marketCapRank}</td>
            <td data-label="{f:translate(key: 'LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.coin')}">
              <img src="{coin.image}" alt="" width="24" height="24" loading="lazy" />
              {coin.name} ({coin.symbol})
            </td>
            <td data-sort="{coin.currentPrice}" data-label="{f:translate(key: 'LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.price')}">{coin.currentPrice -> f:format.number(decimals: 2, decimalSeparator: ',', thousandsSeparator: '.')} <f:translate key="LLL:EXT:btc/Resources/Private/Language/locallang.xlf:currency.usd" /></td>
            <td class="{coin.priceChangePercentage24h >= 0 ? 'btc-marketoverview__change--up' : 'btc-marketoverview__change--down'}" data-sort="{coin.priceChangePercentage24h}" data-label="{f:translate(key: 'LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.change24h')}">
              {coin.priceChangePercentage24h -> f:format.number(decimals: 2)}%
            </td>
            <td data-sort="{coin.marketCap}" data-label="{f:translate(key: 'LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.marketCap')}">{coin.marketCap -> f:format.number(decimals: 0, decimalSeparator: ',', thousandsSeparator: '.')}</td>
            <td data-sort="{coin.totalVolume}" data-label="{f:translate(key: 'LLL:EXT:btc/Resources/Private/Language/locallang.xlf:table.volume24h')}">{coin.totalVolume -> f:format.number(decimals: 0, decimalSeparator: ',', thousandsSeparator: '.')}</td>
          </tr>
        </f:for>
      </tbody>
    </table>
  </div>
</f:section>
